In [1]:
import numpy as np
import pandas as pd
from numpy import dot
from numpy.linalg import norm
import urllib.request
from sentence_transformers import SentenceTransformer

In [2]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/songys/Chatbot_data/master/ChatbotData.csv", filename="ChatBotData.csv")
train_data = pd.read_csv('ChatBotData.csv')
train_data.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [9]:
train_data.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [8]:
train_data.where(train_data['label']==1).dropna()

                         Q                          A  label
5290     1000일 만난 여자친구와 이별         더 오래 만날 사람 만날 거예요.    1.0
5291       10년 연애. 헤어졌습니다.              더 공허함이 크시겠네요.    1.0
5292  10년 연애사 되돌아보니 다 부질없네           더 좋은 사람 만나실 거예요.    1.0
5293              10년 연예의끝               더 마음이 허하겠어요.    1.0
5294           10년만나다 헤어지네  충분히 슬퍼하고 충분히 아파하다가 이겨내세요.    1.0
...                    ...                        ...    ...
8855                 힘듭니다.    어떤 말도 위로가 되지 않겠지만 힘내세요.    1.0
8856          힘이 될런지 모르겠지만    어떤 말도 위로가 되지 않겠지만 힘내세요.    1.0
8857                 힘이 드네    어떤 말도 위로가 되지 않겠지만 힘내세요.    1.0
8858                 힘이 없어                      힘내세요!    1.0
8859           힘이드네.여자들이란.    어떤 말도 위로가 되지 않겠지만 힘내세요.    1.0

[3570 rows x 3 columns]

In [10]:
train_data.where(train_data['label']==2).dropna()

                              Q                         A  label
8860         짝사랑만큼 고통스러운 건 없겠지.  짝사랑 만큼 감정소모가 큰 건 없을 거예요.    2.0
8861        1년 넘게 만났는데 지금도 불타올라         정열적인 사랑을 하고 있나봐요.    2.0
8862            1년 동거 중인데 계속 좋아    서로 깊게 알게되면서 더 좋아졌나봅니다.    2.0
8863               1년 동거하고 결혼했어                    축하합니다!    2.0
8864   1년 만났는데도 그 사람에 대해 잘 모르겠어                  더 만나보세요.    2.0
...                         ...                       ...    ...
11818            훔쳐보는 것도 눈치 보임.        티가 나니까 눈치가 보이는 거죠!    2.0
11819            훔쳐보는 것도 눈치 보임.             훔쳐보는 거 티나나봐요.    2.0
11820               흑기사 해주는 짝남.                    설렜겠어요.    2.0
11821   힘든 연애 좋은 연애라는게 무슨 차이일까?  잘 헤어질 수 있는 사이 여부인 거 같아요.    2.0
11822                힘들어서 결혼할까봐        도피성 결혼은 하지 않길 바라요.    2.0

[2963 rows x 3 columns]

In [4]:
model = SentenceTransformer('sentence-transformers/xlm-r-100langs-bert-base-nli-stsb-mean-tokens')

In [5]:
train_data['embedding'] = train_data.apply(lambda row: model.encode(row.Q), axis = 1)

In [6]:
def cos_sim(A, B):
    return dot(A, B)/(norm(A)*norm(B))

In [8]:
def return_answer(question):
    embedding = model.encode(question)
    train_data['score'] = train_data.apply(lambda x: cos_sim(x['embedding'], embedding), axis=1)
    return train_data.loc[train_data['score'].idxmax()]['A']

In [9]:
return_answer('결혼하고싶어')

'좋은 사람이랑 결혼할 수 있을 거예요.'

In [10]:
return_answer('나랑 커피먹을래?')

'카페인이 필요한 시간인가 봐요.'

In [11]:
return_answer('반가워')

'저도 반가워요.'

In [12]:
return_answer('사랑해')

'상대방에게 전해보세요.'

In [13]:
return_answer('너는 누구니?')

'저는 위로봇입니다.'

In [14]:
return_answer('너무 짜증나')

'짜증날 땐 짜장면'

In [15]:
return_answer('화가납니다')

'화를 참는 연습을 해보세요.'

In [16]:
return_answer('나랑 놀자')

'지금 그러고 있어요.'

In [17]:
return_answer('나랑 게임하자')

'같이 놀아요.'

In [18]:
return_answer('출근하기싫어')

'씻고 푹 쉬세요.'

In [19]:
return_answer('여행가고싶다')

'이김에 떠나보세요.'

In [20]:
return_answer('너 말 잘한다')

'그런 사람이 있으면 저 좀 소개시켜주세요.'