In [3]:
# 0. 환경설정

In [46]:
import numpy as np
import pandas as pd
from numpy import dot
from numpy.linalg import norm
import urllib.request
from sentence_transformers import SentenceTransformer
import kss
import pickle

In [5]:
# 1. 데이터 로드

In [10]:
with open('df.pickle', 'rb') as f:
    df = pickle.load(f)

In [12]:
df

,Store_name,Review,Rank,Label
0,두껍다회선생,평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...,5.0,1
1,두껍다회선생,숙성회맛있어요 다만 반반이라는데 연어가 더 많네요오 연어가 단가가 싸서 이해는하지만...,4.0,1
2,두껍다회선생,남자 사장님친절하세요여자분은별로,4.5,1
3,두껍다회선생,근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요 가격도 괜찮고 회도 맛있고 깔끔하니...,4.0,1
4,두껍다회선생,맛잇어요 존득하고활어회보다 저는 이게 더 맛잇는것같아용,5.0,1
...,...,...,...,...
59763,다해횟집,주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...,4.0,1
59765,더참치,엄마 생신이라 평소 가던곳 아닌 더참치 처음 갔어요 만원나왔고 인 열점먹었나테이블당...,0.5,0
59766,더참치,참치 맛이 조금 비리대요,4.0,1
59767,일품,물회맛있어요매운탕도 같이줘서 굿굿,4.5,1
59768,일품,우럭탕 맛있어여,5.0,1

In [13]:
df.reset_index(drop=True, inplace=True)

In [16]:
df = df[['Review', 'Label']]

In [17]:
df

                                                  Review  Label
0      평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...      1
1      숙성회맛있어요 다만 반반이라는데 연어가 더 많네요오 연어가 단가가 싸서 이해는하지만...      1
2                                      남자 사장님친절하세요여자분은별로      1
3      근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요 가격도 괜찮고 회도 맛있고 깔끔하니...      1
4                         맛잇어요 존득하고활어회보다 저는 이게 더 맛잇는것같아용      1
...                                                  ...    ...
57390  주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...      1
57391  엄마 생신이라 평소 가던곳 아닌 더참치 처음 갔어요 만원나왔고 인 열점먹었나테이블당...      0
57392                                      참치 맛이 조금 비리대요      1
57393                                 물회맛있어요매운탕도 같이줘서 굿굿      1
57394                                           우럭탕 맛있어여      1

[57395 rows x 2 columns]

In [48]:

for idx, sent in enumerate(kss.split_sentences(df['Review'][10])):
    Q_list.append(sent)
    
    A_list.append(sent)

회숙성도가 너무 좋아요 1

In [62]:
from tqdm import tqdm
Q_list = list()
A_list = list()
for review in tqdm(df['Review']):
    for idx, sent in enumerate(kss.split_sentences(review)):
        if idx == 0:
            Q_list.append(sent)
        elif idx == 1:
            A_list.append(sent)

100%|███████████████████████████████████████████████████████████████████| 57395/57395 [01:11<00:00, 802.19it/s]