# 1. 환경설정

In [1]:
import numpy as np
import pandas as pd
from numpy import dot
from numpy.linalg import norm
import urllib.request
from sentence_transformers import SentenceTransformer
import kss
import pickle

# 2. 데이터 로드

In [3]:
with open('df.pickle', 'rb') as f:
    df = pickle.load(f)

In [4]:
df

,Store_name,Review,Rank,Label
0,두껍다회선생,평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...,5.0,1
1,두껍다회선생,숙성회맛있어요 다만 반반이라는데 연어가 더 많네요오 연어가 단가가 싸서 이해는하지만...,4.0,1
2,두껍다회선생,남자 사장님친절하세요여자분은별로,4.5,1
3,두껍다회선생,근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요 가격도 괜찮고 회도 맛있고 깔끔하니...,4.0,1
4,두껍다회선생,맛잇어요 존득하고활어회보다 저는 이게 더 맛잇는것같아용,5.0,1
...,...,...,...,...
59763,다해횟집,주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...,4.0,1
59765,더참치,엄마 생신이라 평소 가던곳 아닌 더참치 처음 갔어요 만원나왔고 인 열점먹었나테이블당...,0.5,0
59766,더참치,참치 맛이 조금 비리대요,4.0,1
59767,일품,물회맛있어요매운탕도 같이줘서 굿굿,4.5,1
59768,일품,우럭탕 맛있어여,5.0,1

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df = df[['Review', 'Label']]

In [7]:
df

                                                  Review  Label
0      평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...      1
1      숙성회맛있어요 다만 반반이라는데 연어가 더 많네요오 연어가 단가가 싸서 이해는하지만...      1
2                                      남자 사장님친절하세요여자분은별로      1
3      근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요 가격도 괜찮고 회도 맛있고 깔끔하니...      1
4                         맛잇어요 존득하고활어회보다 저는 이게 더 맛잇는것같아용      1
...                                                  ...    ...
57390  주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...      1
57391  엄마 생신이라 평소 가던곳 아닌 더참치 처음 갔어요 만원나왔고 인 열점먹었나테이블당...      0
57392                                      참치 맛이 조금 비리대요      1
57393                                 물회맛있어요매운탕도 같이줘서 굿굿      1
57394                                           우럭탕 맛있어여      1

[57395 rows x 2 columns]

# 3. 데이터 전처리

In [12]:
from tqdm import tqdm
Q_list = list()
A_list = list()
for review in tqdm(df['Review']):
    for idx, sent in enumerate(kss.split_sentences(review)):
        if idx == 0:
            Q_list.append(sent)
        elif idx == 1:
            A_list.append(sent)

100%|███████████████████████████████████████████████████████████████████| 57395/57395 [01:06<00:00, 857.64it/s]

In [15]:
df['Q'] = pd.Series(Q_list)
df['A'] = pd.Series(A_list)

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_26888\81817352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Q'] = pd.Series(Q_list)

In [17]:
df = df[['Q', 'A','Label']]

In [18]:
df

,Q,A,Label
0,평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...,다만 반반이라는데 연어가 더 많네요,1
1,숙성회맛있어요,여자분은별로,1
2,남자 사장님친절하세요,가격도 괜찮고 회도 맛있고 깔끔하니 좋네요,1
3,근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요,존득하고활어회보다 저는 이게 더 맛잇는것같아용,1
4,맛잇어요,잘 먹고 갑니다,1
...,...,...,...
57390,주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히달라요,NaN,1
57391,엄마 생신이라 평소 가던곳 아닌 더참치 처음 갔어요,NaN,0
57392,참치 맛이 조금 비리대요,NaN,1
57393,물회맛있어요,NaN,1
57394,우럭탕 맛있어여,NaN,1

In [21]:
df.isnull().sum()
# 한 문장으로 구성된 리뷰가 많았다.

Q            0
A        25167
Label        0
dtype: int64

In [23]:
df.dropna(subset=['A'], inplace=True)

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_26888\1625784964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['A'], inplace=True)

In [25]:
df.reset_index(drop=True, inplace=True)
df

,Q,A,Label
0,평소 두꺼운 회를 별로 안 좋아해서 고민하다가 후기 좋길래 가봤는데 후회 없었음 두...,다만 반반이라는데 연어가 더 많네요,1
1,숙성회맛있어요,여자분은별로,1
2,남자 사장님친절하세요,가격도 괜찮고 회도 맛있고 깔끔하니 좋네요,1
3,근처에 들렸다가 밥 먹을때가 안보여서 들어갔어요,존득하고활어회보다 저는 이게 더 맛잇는것같아용,1
4,맛잇어요,잘 먹고 갑니다,1
...,...,...,...
32223,동암에서 괜찮아요,서비스도 엄청 좋아요,1
32224,매운탕 꼭 드세요,맘에듭니다,1
32225,저렴하고 맛있음,회맛나게잘먹먹어요,1
32226,사람이 넘 많아요,만원나왔고 인 열점먹었나테이블당 명 이 거 판 나왔어요,1
32227,저렴한가격에 신선한 회를 즐길수있어요,매운탕도 같이줘서 굿굿,1

# 4. 사전 훈련된 모델 로드

In [26]:
# 한국어 포함 100가지 언어 지원bert-base, snli, sys-b 데이터 파인 튜닝
model = SentenceTransformer('sentence-transformers/xlm-r-100langs-bert-base-nli-stsb-mean-tokens')

Downloading:   0%|          | 0.00/574 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/190 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/4.06k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/731 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/122 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.11G [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/53.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/5.07M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/150 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/9.10M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/527 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/229 [00:00<?, ?B/s]

In [33]:
# df.Q을 문장 임베딩 한 값을 구한 후 embedding열에 저장 , axis =1 : 열방향
df['embedding'] = df.apply(lambda row : model.encode(row.Q), axis =1)

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_26888\4011397042.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['embedding'] = df.apply(lambda row : model.encode(row.Q), axis =1)

In [34]:
# 두 개의 벡터로부터 코사인 유사도를 구하는 함수 cos_sim를 정의합니다.
def cos_sim(A, B):
    return dot(A, B) / (norm(A)*norm(B))

In [40]:
# Q가 들어오면 해당 Q의 문장 임베딩 값과 챗봇 데이터의 임베딩 열, 즉
def return_answer(question):
    #질문을 문장 임베딩
    embedding = model.encode(question)
    #score열을 정의
    # 각 행마다 
    df['score'] = df.apply(lambda x: cos_sim(x['embedding'], embedding), axis=1)
    return df.loc[df['score'].idxmax()]['A']

In [36]:
df['embedding'][0].shape

(768,)

In [37]:
len(df['embedding'])

32228

In [38]:
type(df['embedding'])

pandas.core.series.Series

In [39]:
type(df['embedding'][0])

numpy.ndarray

# 5. 결과 학인

In [51]:
return_answer('위생상태가 불량')

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_26888\1295668094.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score'] = df.apply(lambda x: cos_sim(x['embedding'], embedding), axis=1)

'게다가 가격도 좋아서 누구든지 꼭 한번 와보시길 추천합니다'

In [52]:
return_answer('주차자리')

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_26888\1295668094.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score'] = df.apply(lambda x: cos_sim(x['embedding'], embedding), axis=1)

'특히 매운탕 국물이 일품입니다'

## 잘 작동되지 않는다.
1. 데이터 클래스 불균형 -> 긍정리뷰가 9배 많다
2. Q, A가 서로 맞지 않다
    1. kss로 임의 나눔
    2. Q, A가 서로 상호적으로 맞지 않다.
    3. 리뷰가 3개 이상으로 나눠질 경우 정보 손실이 있다.